* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    max-width: 100%;
}

html {
    min-height: 100%;
}

body {
    /* width: 100vw;
    height: 100vh; */
    background: rgb(1,49,87);
    background: linear-gradient(0deg, rgba(1,49,87,1) 0%, rgba(63,1,87,1) 0%, rgba(1,65,87,1) 1%, rgba(35,1,87,1) 92%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* margin: 0; */
}

.container {
    max-width: 100%;
}

.form-inline {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 0 3rem;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
  }
  
a:hover {
    text-decoration: none;
    color: yellow;
    /* no idea why the hover and active colors are not changing as expected */
}
  
a:active {
    text-decoration: underline;
    color: aqua;
}

ul {
    gap: 1rem;
    padding-right: 6rem;
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: yellow;
}

.navbar-nav li a:active {
    text-decoration: underline;
    color: aqua;
}

/* .movie-container img {
    width: 15rem;
    height: auto;
} */

.card-body {
    height: 10rem;
    overflow-y: scroll;
}

.card {
    padding: 1rem;
    width: 18rem;
}